<main>
<span id="Categori">Categories</span>
<div class="cate">
	<div id="box">
		<img [src]="imgUrl[0]" alt="not found" [routerLink]="['/category','life']">
		<a [routerLink]="['/category','life']">Life</a>
	</div>	
	<div id="box">
		<img [src]="imgUrl[1]" alt="not found" [routerLink]="['/category','yourcity']">
		<a [routerLink]="['/category','yourcity']">Your City</a>
	</div>	
	<div id="box">
		<img [src]="imgUrl[2]" alt="not found" [routerLink]="['/category','fashion']">
		<a [routerLink]="['/category','fashion']">Fashion</a>
	</div>	
	<div id="box">
		<img [src]="imgUrl[3]" alt="not found" [routerLink]="['/category','khac']">
		<a [routerLink]="['/category','khac']">Khác</a>
	</div>	


</div>
</main>